<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/common.css">
</head>
<body>
  {{ content }}
  <script src="/assets/js/common.js"></script>
  <script src="/assets/js/modules/global_header.js"></script>
  <script src="/assets/js/modules/side_navigation.js"></script>
</body>
</html>
